<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/index.css">

<body>
    <div class="ui text container">
      <h1 class="ui inverted header">
        Greenwood
      </h1>
      <h2>Growing a community with deep roots.</h2>
      <a href="/catalogue" class="ui huge inverted button">Take a Look <i class="right arrow icon"></i></a>
    </div>
    
    <script src="scripts/background.js"></script>
    
</body>